server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /var/lib/promtail/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:

  - job_name: system-logs
    static_configs:
      - targets: [localhost]
        labels:
          job: system
          __path__: /var/log/*.log

  - job_name: python-app
    static_configs:
      - targets: [localhost]
        labels:
          job: python_app
          __path__: /var/log/myapp/*.log
